<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	
	<!-- 매장번호별 예약현황 조회 -->
	<select id = "selectBooking" parameterType = "com.babsazo.model.BookingDTO" resultType = "com.babsazo.model.BookingDTO">
		SELECT * FROM BOOKING
		where STORE_NO = 1001
		order by BK_DATE ASC, BK_TIME ASC
	</select>
	
	<!-- 접수된 예약건에 대한 매장관리자 예약접수 확인여부 -->
	<update id = "updateConfirmYn" parameterType = "com.babsazo.model.BookingDTO">
		UPDATE BOOKING
		SET COFIRM_YN = 'Y'
		WHERE BK_NO = #{BK_NO}
	</update>
	
</mapper>